
params{
    target_db = ""
    seqs = ""
    foldseek_convert = true
}

profiles {
    homfam_uniprot{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/homfam.config"
    }
    homfam_uniprot_local_refs{
      includeConfig "conf/local.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/homfam_refs.config"
    }
    homfam_refs_af2pred{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/af2_pred.config"
      includeConfig "conf/homfam_refs.config"
    }
    homfam_refs_pdb{
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_pdb.config"
      includeConfig "conf/homfam_refs.config"
    }
    homfam_refs_uniprot{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/homfam_refs.config"
    }
    benchfam_refs_uniprot{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/benchfam_refs.config"
    }
    benchfam_refs_pdb{
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_pdb.config"
      includeConfig "conf/benchfam_refs.config"
    }
    exthomfam_uniprot{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/ext-homfam.config"
    }
}

