
params{
    target_db = ""
    seqs = ""
    foldseek_convert = true
}

profiles {
    homfam_uniprot{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/homfam.config"
    }

    homfam_refs_pdb{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/homfam_refs.config"
    }

    exthomfam_uniprot{
      includeConfig 'conf/base.config'
      includeConfig "conf/crg.config"
      includeConfig "conf/mmseqs_uniprot.config"
      includeConfig "conf/ext-homfam.config"
    }
}

