params {

    dataset_dir="/users/cn/lsantus/"
    dataset = "extHomfam_v35-uniprot"
    outdir = "${params.dataset_dir}/data/structures_collections/${params.dataset}/"
    

    // Inputs
    test_set = true
    if(params.test_set){
        testfam="ABC_tran,response_reg"
        //testfam="seatoxin,hip"
        //seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/seatoxin*.fa"
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/ABC_tran.fa"
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
    }
}
