params {

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    outdir = "${params.dataset_dir}/data/structures_collections/${params.dataset}_ref/"
    
    // Inputs
    test_set = true
    if(params.test_set){
        testfam="seatoxin,hip"
        testfam="lnt,int"
        testfam="aldosered,Ald_Xan_dh_2,cyt3,DMRL_synthase,gpdh,oxidored_q6,p450,profilin,slectin,TNF,toxin,tRNA-synt_3b"
        //testfam="aldosered,profilin,slectin"
        testfam = 'TNF,adh,flav,hpr,mmp,msb,profilin,ricin,slectin'
        //testfam="Acetyltransf,DEATH,GEL,HMG_box,LIM,PDZ,annexin,az,biotin_lipoyl,cyt3,flav,gluts,hip,hla,hom,hpr,icd,il8,int,phoslip,profilin,ricin,rvp,scorptoxin,seatoxin,slectin,sodfe,tim,tms"
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
    }
}
