params {

    dataset_dir="/users/cn/lsantus/"
    outdir = "${params.dataset_dir}/data/structures_collections/${params.dataset}/"
    dataset = "homfam"

    // Inputs
    test_set = true
    if(params.test_set){
        testfam="seatoxin,hip"
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/{$params.testfam}*.fa"
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
    }
}
