params {

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    outdir = "${params.dataset_dir}/data/structures_collections/${params.dataset}/"
    
    // Inputs
    test_set = false
    if(params.test_set){
        testfam="seatoxin,hip"
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/{$params.testfam}*.fa"
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/refs/*.fa"
    }
}
