params {

    dataset_dir="/users/cn/lsantus/"
    dataset = "homfam"
    outdir = "${params.dataset_dir}/data/structures_collections/${params.dataset}/"
    splitfa = "true"

    // Inputs
    test_set = false
    if(params.test_set){
        testfam="seatoxin,hip,aldosered,az,cah,ChtBD,cryst,DEATH,GEL,ghf5,ghf10,ghf11,hla,hpr,hr,ins,int,kringle,kunitz,msb,phc,profilin,rub,sodfe,tgfb,trfl"
        //testfam="hip,seatoxin,cryst,ghf5,az,blmb,ghf13,Rhodanese,Acetyltransf,tRNA-synt_2b,DEATH"
        //testfam="hip,cryst,Acetyltransf,az,blmb"
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/{$params.testfam}*.fa"
    }else{
        seqs = "${params.dataset_dir}/data/structural_regression/${params.dataset}/combinedSeqs/*.fa"
    }
}
